@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.143 0.005 302.74034170370044);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.143 0.005 302.74034170370044);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.143 0.005 302.74034170370044);
  --primary: oklch(0.559 0.241 293.808405286445);
  --primary-foreground: oklch(0.960 0.004 302.8731303012287);
  --secondary: oklch(0.965 0.007 302.8177448033272);
  --secondary-foreground: oklch(0.199 0.026 300.8981253390088);
  --muted: oklch(0.965 0.007 302.8177448033272);
  --muted-foreground: oklch(0.490 0.110 299.2368349523663);
  --accent: oklch(0.877 0.048 302.0993646306054);
  --accent-foreground: oklch(0.184 0.055 297.6047724160002);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.875 0.025 302.4891321286078);
  --input: oklch(0.875 0.025 302.4891321286078);
  --ring: oklch(0.559 0.241 293.808405286445);
  --chart-1: oklch(0.559 0.241 293.808405286445);
  --chart-2: oklch(0.726 0.130 300.0584086587572);
  --chart-3: oklch(0.846 0.060 301.8417415883526);
  --chart-4: oklch(0.452 0.258 285.53730655386727);
  --chart-5: oklch(0.376 0.206 287.60022420312583);
  --sidebar: oklch(0.965 0.007 302.8177448033272);
  --sidebar-foreground: oklch(0.199 0.026 300.8981253390088);
  --sidebar-primary: oklch(0.559 0.241 293.808405286445);
  --sidebar-primary-foreground: oklch(0.960 0.004 302.8731303012287);
  --sidebar-accent: oklch(0.877 0.048 302.0993646306054);
  --sidebar-accent-foreground: oklch(0.184 0.055 297.6047724160002);
  --sidebar-border: oklch(0.875 0.025 302.4891321286078);
  --sidebar-ring: oklch(0.559 0.241 293.808405286445);
}

.dark {
  --background: oklch(0.196 0.031 300.4254206617765);
  --foreground: oklch(0.960 0.004 302.8731303012287);
  --card: oklch(0.234 0.042 300.08990181095845);
  --card-foreground: oklch(0.960 0.004 302.8731303012287);
  --popover: oklch(0.234 0.042 300.08990181095845);
  --popover-foreground: oklch(0.960 0.004 302.8731303012287);
  --primary: #854de6;
  --primary-foreground: oklch(0.960 0.004 302.8731303012287);
  --secondary: oklch(0.301 0.049 300.35635129226677);
  --secondary-foreground: oklch(0.956 0.009 302.78829648124463);
  --muted: oklch(0.301 0.049 300.35635129226677);
  --muted-foreground: oklch(0.698 0.040 302.05137842545776);
  --accent: oklch(0.406 0.164 294.78806338780623);
  --accent-foreground: oklch(0.949 0.019 302.6165294447636);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.371 0.079 299.47146341721106);
  --input: oklch(0.371 0.079 299.47146341721106);
  --ring: #854de6;
  --chart-1: oklch(0.566 0.219 295.33331545693216);
  --chart-2: oklch(0.662 0.178 298.3255609695288);
  --chart-3: oklch(0.768 0.125 300.345448749845);
  --chart-4: oklch(0.450 0.212 292.1865561934807);
  --chart-5: oklch(0.384 0.154 294.9147901985558);
  --sidebar: oklch(0.305 0.061 299.6956216144678);
  --sidebar-foreground: oklch(0.960 0.004 302.8731303012287);
  --sidebar-primary: oklch(0.566 0.219 295.33331545693216);
  --sidebar-primary-foreground: oklch(0.960 0.004 302.8731303012287);
  --sidebar-accent: oklch(0.406 0.164 294.78806338780623);
  --sidebar-accent-foreground: oklch(0.949 0.019 302.6165294447636);
  --sidebar-border: oklch(0.371 0.079 299.47146341721106);
  --sidebar-ring: oklch(0.566 0.219 295.33331545693216);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}